/*css file*/
body {
    background: #FFF;
    font-family: "Microsoft Yahei Light", "Microsoft Yahei";
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
#report-abuse {
    display:none !important;
}

/* definition */
@font-face {
    font-family: FelixTitling;
    src: url('Fonts/felix_titling__2_.eot');
    src: url('Fonts/felix_titling.ttf') format('truetype'),
    url('Fonts/felix_titling__2_.eot?') format('☺');
    font-weight: normal;
    font-style: normal;
}
.tp-wrap {
    position: relative;
    overflow-x: hidden;
}
.lu-bg {
    z-index: -2;
    width: 1200px;
    height: 1200px;
    background: url("../images/svg/index/lu.svg") no-repeat;
    background-size: 1200px 1200px;
    opacity: 0.02;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -230px;
}
.cover {
}
#canvas_container canvas {
    width: 100% !important;
    height: 100% !important;
}
.intro {
    box-sizing: border-box;
    padding: 0px 62px;
    position: absolute;
    width: 446px;
    height: 530px;
    right: 250px;
    bottom: 280px;
    font-size: 18px;
    line-height: 36px;
    background: #f9f9f9;
    border-radius: 7px;
    color: #777;
    box-shadow: 0px 31px 70px 0px rgba(0, 0, 0, 0.31);
}
.intro .zlu-logo {
    position: absolute;
    top: -86px;
    right: -90px;
}
.intro .zlu-svg {
    -webkit-filter: drop-shadow( 0px 6px 13px rgba(0, 0, 0, 0.39) );
            filter: drop-shadow( 0px 6px 13px rgba(0, 0, 0, 0.39) ); /* Same syntax as box-shadow, except for the spread property */
}
.intro .decoration {
    margin-top: 46px;
    margin-bottom: 35px;
}
.intro .decoration .line {
    margin: 0 auto;
    width: 138px;
    height: 1px;
    background: #e0e0e0;
}
.intro .decoration .circle {
    margin: 0 auto;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #bfbfbf;
    border: #f9f9f9 4px solid;
    position: relative;
    top: -10px;
}
.intro .action {
    margin: 0 auto;
    position: absolute;
    bottom: -30px;
    display: block;
    height: 60px;
    border-radius: 100px;
    text-align: left;
    color: #fff;
    font-size: 21px;
    box-sizing: border-box;
    padding-left: 57px;
    line-height: 60px;
    opacity: 0.95;
}
.intro .action-zhihu {
    left: 32px;
    width: 60px;
    background: #0f88eb url("../images/svg/index/zhihu.svg") no-repeat ;
    background-size: 29px;
    background-position: 15px 15px;
    box-shadow: 0px 9px 27px 0px rgba(13, 97, 165, 0.29);
}
.intro .action-resume {
    left: 106px;
    width: 128px;
    background: #eba00f url("../images/svg/index/resume.svg") no-repeat ;
    background-size: 29px;
    background-position: 19px 15px;
    box-shadow: 0px 9px 27px 0px rgba(150, 101, 6, 0.29);
}
.intro .action-portfolio {
    left: 248px;
    width: 170px;
    background: #f14778 url("../images/svg/index/portfolio.svg") no-repeat ;
    background-size: 29px;
    background-position: 19px 15px;
    box-shadow: 0px 9px 27px 0px rgba(193, 0, 56, 0.29);
}

.nav-btn {
    font-size: large;
    margin: 78px auto;
    text-align: center;
    display: none;
}
.nav-btn a {
    display: block;
    width: 60px;
    margin: 0 auto;
}
.equal-up, .equal-down {
    width: 52px;
    height: 3px;
    border-radius: 3px;
    background: #b1b1b1;
    margin: 0 auto;
}
.equal-down {
    margin-top: 23px;
}
.drawer {
    width: 100%;
    height: 275px;
    background: #545456;
    -webkit-box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.24) inset;
    -moz-box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.24) inset;
    box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.24) inset;
    overflow-x: scroll;
    overflow-y: hidden;
}
.avatar-list {
    width: 2450px;
    list-style: none;
    overflow-x: scroll;
}
.custom_scroll_bar::-webkit-scrollbar-track
{
    background-color: rgba(255, 255, 255, 0);
}

.custom_scroll_bar::-webkit-scrollbar
{
    width: 15px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.custom_scroll_bar::-webkit-scrollbar-thumb
{
    background-color: #9b9b9b;
    /*border-radius: 5px;*/
}
.custom_scroll_bar::-webkit-scrollbar-thumb:hover
{
    background-color: #c1c1c1;
}
.avatar {
    float: left;
    margin: 37px 0 37px 60px;
    height: 203px;
    width: 340px;
    border-radius: 7px;
    background: #b1b1b1 center center no-repeat;
    background-size: 340px 203px;
    text-align: center;
    -webkit-box-shadow: 0px 17px 21px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 17px 21px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 17px 21px 0px rgba(0, 0, 0, 0.27);

}
.avatar:hover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%);
}
.avatar p {
    margin-top: 90px;
    color: #FFF;
    font-size: 24px;
    font-family: Felix Titling, FelixTitling, Arial, Helvetica, sans-serif;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.27);
}
.main-pic {
    margin: 89px auto 0 auto;
    width: 1020px;
    height: 610px;
    border-radius: 10px 10px 0 0;
    background: #fff center center no-repeat;
    background-size: 1020px 610px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
}
.title-block {
    width: 580px;
    height: 209px;
    margin: 0 auto;
    padding-top: 37px;
    background: #f1f1f1;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: -240px;
    box-shadow: 0px 21px 27px 0px rgba(0, 0, 0, 0.27);
    z-index: 99;
}
.title-block .eng {
    font-family: Felix Titling, FelixTitling, Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px 0;
    margin: 0 auto 5px auto;
    width:  300px;
    border-top: #bbb 1px solid;
    border-bottom: #ccc 1px solid;
}
.title-block .chn {
    font-family: "宋体";
    font-weight: bold;
    font-size: 18px;
    padding: 2px 0;
    margin: 0 auto;
    width:  200px;
    min-height: 1em;
    border-top: none;
    border-bottom: #ccc 1px solid;
}
.title-block .description {
    font-family: "Microsoft Yahei Light", "Microsoft Yahei";
    font-size: 18px;
    padding: 2px 0;
    margin: 36px auto 0 auto;
}
.title-block .decoration {
    margin-top: 34px;
}
.title-block .decoration .line {
    margin: 0 auto;
    width: 60px;
    height: 1px;
    background: #e0e0e0;
}
.title-block .decoration .circle {
    margin: 0 auto;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #0080ae;
    border: #f1f1f1 4px solid;
    position: relative;
    top: -10px;
}
.video-block {
    margin: 0 auto;
    position: relative;
    top: -280px;
    left: 250px;
    width: 560px;
    height: 315px;
    border-radius: 10px;
    background: #333333;
    box-shadow: 0px 21px 43px 0px rgba(0, 0, 0, 0.27);
    overflow: hidden;
    z-index: 200;
}
.description-block {
    margin: -315px auto 0 auto;
    position: relative;
    width: 540px;
    padding: 88px 80px 80px 80px;
    background: #0089ba;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
    left: -160px;
    color: #fff;
    line-height: 2.3;
    font-size: 16px;
}
.description-block a {
    border-bottom: 1px dashed;
}
.description-block .takeaways {
    list-style: none;
    margin-top: 20px;
    font-family: "Microsoft Yahei Light", "Microsoft Yahei";
}
.description-block .takeaways li {
    background-size: 26px;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position: 0 5px;
}
.description-block .takeaways .development {
    background-image: url("../images/svg/index/cogwheel.svg");
}
.description-block .takeaways .role {
    background-image: url("../images/svg/index/id-card.svg");
}
.description-block .takeaways .growth {
    background-image: url("../images/svg/index/arrows.svg");
}
.description-block .takeaways .date {
    background-image: url("../images/svg/index/calendar.svg");
}

.action-last-project {
    margin: 0 auto;
    position: relative;
    left: -510px;
    top: -28px;
    display: block;
    width: 90px;
    height: 56px;
    border-radius: 10px;
    box-shadow: 0px 21px 27px 0px rgba(0, 0, 0, 0.27);
    opacity: 0.95;
    background: #fff;
    line-height: 56px;
    text-align: center;
    color: #0080ae;
    transition: 0.1s top;
    transition-timing-function: ease-in;
}
.action-last-project:hover {
    top: -30px;
}
.action-next-project {
    margin: 0 auto;
    position: relative;
    left: 185px;
    top: -84px;
    display: block;
    width: 210px;
    height: 56px;
    border-radius: 10px;
    box-shadow: 0px 21px 27px 0px rgba(0, 0, 0, 0.27);
    opacity: 0.95;
    background: #f7eb27;
    line-height: 56px;
    text-align: center;
    color: #0080ae;
    transition: 0.1s top;
    transition-timing-function: ease-in;
}
.action-next-project:hover {
    top: -86px;
}
.footer {
    margin: 60px auto 120px auto;
    color: #003244;
    font-size: 14px;
    position: relative;
    z-index: -1;
}
.footer .by {
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    background: url("../images/svg/index/lu.svg") no-repeat top center;
    background-size: 120px 120px;
    opacity: 0.18;
}
.footer .acknowledgement {
    margin: 0 auto;
    text-align: center;
    line-height: 28px;
}