/*css file*/
body {
    background: rgb(0, 8, 18);
        font-family: "Roboto", "Microsoft Yahei Light", "Microsoft Yahei";
        position: relative;
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
/* definition */
@font-face {
    font-family: FelixTitling;
    src: url('Fonts/felix_titling__2_.eot');
    src: url('Fonts/felix_titling.ttf') format('truetype'),
    url('Fonts/felix_titling__2_.eot?') format('☺');
    font-weight: normal;
    font-style: normal;
}
main {
    padding: 0 15%;
}
.Tag {
    background: rgba(196, 196, 196, 0.2);
    border-radius: 4px;
    height: 37px;    
    padding: 0 0.8em;
    margin-right: 0.6em;
    display:  inline-block;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: white;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    line-height: 37px;
}

/* FootNote */
#FootNote {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(195, 195, 195, 0.78);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, -4.93333px);
    line-height: 35px;
    height: 35px;
    margin-top: 150px;
    margin-bottom: 50px;
}















